<template>
  <div>

    <form @submit.prevent action="#">
<!--      <div v-if="checkData">-->
<!--        <input type="hidden" v-model="kategorie.kid" />-->
<!--      </div>-->
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Titel</label>
        <div class="col-sm-10">
          <input type="text" :class="cssStyle.category" name="title" id="title" v-model="kategorie.title" />
        </div>
      </div>
      <div class="form-group row">
        <label for="categories" class="col-sm-2 col-form-label">Übergeordnete Kategorie</label>
        <div class="col-sm-10">
          <select class="form-control" v-model="kategorie.pkid">
              <option selected disabled>Choose one</option>
              <option value="0">Keine Elternkategorie</option>
              <option v-for="element in data" :key="element.kid" :disabled="kategorie.kid == element.kid" :value="element.kid" id="categories" class="dropdown-item">{{element.kategorie}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button class="btn" style="margin-right: 5px"  @click="speichern" name="speichern"> Speichern </button>
          <button class="btn" name="neu" @click="neu"> Neu </button>
        </div>
      </div>
    </form>
    <h1>Erfasste Kategorien</h1>
    <div class="card-body" v-if="checkData">
      <div class="table-full-width table-responsive">
        <table class="table table-hover">
          <thead>
          <th>Kategorie</th>
          <th>Übergeordnete Kategorie</th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <tr v-for="element in data">
            <td>{{element.kategorie}}</td>
            <td>{{element.parent_kategorie}}</td>
            <td><button class="btn" title="Kategorie bearbeiten" @click="bearbeiten(element)"><span class="ti-pencil-alt"></span></button></td>
            <td><button class="btn" title="Kategorie löschen" @click="loeschen(element)"><span class="ti-trash"></span></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else>
        <p>Es wurden noch keine Kategorien erfasst!</p>
    </div>
  </div>
</template>
<script>
  import NotificationTemplate from '../Notifications/NotificationTemplate';
  export default {
    components: {NotificationTemplate},
    data() {
      return {
        url: '/api/kategorie/',
        type: ["", "info", "success", "warning", "danger"],
        kategorie: {kid: '', title: '', pkid:''},
        cssStyle: {category: 'form-control'},
        data: [],
        objectss: [],
        hasSearched: false
      };
    },
    methods: {
      notifyVue(verticalAlign, horizontalAlign, color, icon, message) {
        this.$notify({
          title: message,
          icon: icon,
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: color,
        });
      },
      speichern() {
        var method = this.kategorie.kid ? "PUT" : "POST";
        console.log(method);
        console.log(this.kategorie);
        this.axios(
          {
            url: this.url,
            method: method,
            data: {
              kategorie: this.kategorie
            },
          }
        ).then(response => {
            this.notifyVue('top', 'right', 'success', 'ti-check', ('Kategorie erfolgreich ' + (method === 'PUT' ? 'bearbeitet!' : 'erfasst!') ));
            for(let el in this.cssStyle){
              this.cssStyle[el] = 'form-control';
            }
          setTimeout(function () {
            location.reload();
          }, 1500);
          })
          .catch(error => {
            switch (error.response.status) {
              case 469:
                console.log(error.response.data)
                for(let el in error.response.data){
                  if(error.response.data[el]){
                    this.cssStyle[el] = 'form-control';
                  } else {
                    console.log('else')
                    this.cssStyle[el] = 'form-control is-invalid';
                  }
                }
                break;
            }
          });
      },
      neu(){
          this.kategorie.pkid = '';
          this.kategorie.title = '';
          this.kategorie.kid = '';
      },
      loeschen( element )
      {
        let hasChildData = false;
        let isCategoryUsedInobjects = false;
        this.data.forEach( category => {
            if(category.parent_kid === element.kid )
            {
                hasChildData = true;
            }
        });
        let additionalDeleteText = "Wollen Sie die Kategorie wirklich löschen? " + (hasChildData ? '(Diese Kategorie wurde einer anderen Kategorie als Übergeordnete Kategorie zugewiesen. Wenn Sie diese löschen, werden alle anderen Kategorien welche mit dieser in Verbindung stehen auch gelöscht)' : '');
        this.$dialog
          .confirm( additionalDeleteText, {
            okText: "Ja",
            cancelText: "Nein"
          })
          .then(dialog => {
            console.log(dialog);

            console.log(this.objectss)
            this.objectss.forEach( objects => {
                console.log(objects);
                if( objects.kid === element.kid )
                {
                    isCategoryUsedInobjects = true;
                }
            });

            if( isCategoryUsedInobjects )
            {
              this.notifyVue('top', 'right', 'warning', 'ti-close', 'Diese Kategorie wird in einem Objekt verwendet. Bitte löschen Sie zuerst das Objekt oder ändern Sie die Kategorie!');
            } else {
              this.axios(
                {
                  url: this.url + element.kid + "/",
                  method: 'DELETE'
                }).then(response => {
                this.data = this.data.filter(el => el.kid !== element.kid);
                this.data = this.data.filter(el => el.parent_kid !== element.kid);
                console.log(response);
                this.notifyVue('top', 'right', 'success', 'ti-check', ('Kategorie erfolgreich gelöscht!' ));
              })
                .catch(error => {
                  console.log(error);
                });
            }

          })
          .catch(error => {
            console.log(error);
            console.log("Löschen abgebrochen");
          });
      },
      bearbeiten( element ){
          this.kategorie.pkid = element.parent_kid;
          this.kategorie.title = element.kategorie;
          this.kategorie.kid = element.kid;
          console.log(this.kategorie);
      }
    },
    computed: {
      checkData() {
        return this.data.length;
      }
    },
    mounted() {
      this.axios(
        {
          url: '/api/kategorie/',
          method: 'GET',
          kategorie: {kategorie: ''}
        }).then(response => {
        console.log(response);
        this.data = response.data;
        console.log(this.data)
      })
        .catch((error) => {
          console.log(error);
        });
      this.axios(
        {
          url: '/api/objekt/',
          method: 'GET',
          objekt: {objekt: ''}
        }).then(response => {
        this.objectss = response.data;
      });
    }
  };
</script>
