<template>
  <div>
    <form @submit.prevent action="#">
      <div class="form-group row">
        <label for="date_from" class="col-sm-2 col-form-label">Datum von:</label>
        <div class="col-sm-4">
          <input :class="cssStyle.reservationFrom" placeholder="yyyy-mm-dd hh-mm-ss" id="date_from" v-model="reservation.reservationFrom">
        </div>
        <label for="date_to" class="col-sm-2 col-form-label" v-if="reservation.reservationFrom && reservation.reservationFrom.length >= 10">Datum bis:</label>
        <div class="col-sm-4" v-if="reservation.reservationFrom && reservation.reservationFrom.length >= 10">
            <input :class="cssStyle.reservationTo" placeholder="yyyy-mm-dd hh-mm-ss" id="date_to" v-model="reservation.reservationTo" v-on:focusout="onGetFreeObjects"/>
        </div>
      </div>
      <div class="form-group row" v-if="reservation.reservationTo.length > 10">
        <label for="objects" class="col-sm-2 col-form-label">Objekt</label>
        <div class="col-sm-4">
          <select id="objects" :class="cssStyle.object" v-model="reservation.oid">
            <option selected disabled>Choose one</option>
            <option v-for="element in objects" :key="element.oid" :value="element.oid" class="dropdown-item">{{element.titel}} | {{element.beschreibung}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" v-if="reservation.reservationTo.length > 10">
        <label for="employee" class="col-sm-2 col-form-label">Mitarbeiter</label>
        <div class="col-sm-4">
          <select id="employee" :class="cssStyle.username" v-model="reservation.username">
            <option selected disabled>Choose one</option>
            <option v-for="element in usernames" :key="element.mid" :value="element.username" class="dropdown-item">{{element.username}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button class="btn" style="margin-right: 5px"  @click="speichern" name="speichern"> Speichern </button>
          <button class="btn" name="neu" @click="neu"> Neu </button>
        </div>
      </div>
    </form>
    <h1>Erfasste Reservationen</h1>
    <div class="card-body" v-if="checkData">
      <div class="table-full-width table-responsive">
        <table class="table table-hover">
          <thead>
          <th>Datum von</th>
          <th>Datum bis</th>
          <th>Objekt-Titel</th>
          <th>Objekt-Beschreibung</th>
          <th>Mitarbeiter</th>
          <th></th>
          </thead>
          <tbody>
          <tr v-for="element in data">
            <td>{{element.datumvon}}</td>
            <td>{{element.datumbis}}</td>
            <td>{{element.objekt_titel}}</td>
            <td>{{element.objekt_beschreibung}}</td>
            <td>{{element.username}}</td>
            <td><button class="btn" title="Reservation löschen" @click="loeschen(element.rid)"><span class="ti-trash"></span></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else>
        Keine Reservationen erfasst
    </div>
    <!-- Evtl Substring? -->
  </div>
</template>
<script>
  import NotificationTemplate from '../Notifications/NotificationTemplate';
export default{
    components: {NotificationTemplate},
  notifyVue(verticalAlign, horizontalAlign, color, icon, message) {
    this.$notify({
      title: message,
      icon: icon,
      horizontalAlign: horizontalAlign,
      verticalAlign: verticalAlign,
      type: color,
    });
  },
    data(){
        return {
          url: '/api/versuch/',
          object: [],
          objects: [],
          usernames: [],
          data: [],
          bookedOids: [],
          reservation:{rid: '', reservationFrom: '', reservationTo: '', oid: 0, username: ''},
          cssStyle:{reservationFrom: 'form-control', reservationTo: 'form-control', object: 'form-control', username: 'form-control'},
        };
    },
    methods: {
      notifyVue(verticalAlign, horizontalAlign, color, icon, message) {
        this.$notify({
          title: message,
          icon: icon,
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: color,
        });
      },
      onGetFreeObjects()
      {
        if( this.reservation.reservationTo.length >= 10 )
        {
            this.axios(
              {
                url: '/api/versuch/',
                method: 'GET',
                params: {
                  reservationFrom: this.reservation.reservationFrom,
                  reservationTo: this.reservation.reservationTo
                }
              }).then(response => {
              this.bookedOids = response.data;
              console.log(this.bookedOids);
              this.bookedOids.forEach(value => {
                this.objects = this.objects.filter(el => el.oid !== value.oid);
              });
            }).catch( error => {
              switch (error.response.status) {
                case 469:
                  for(let el in error.response.data){
                    if(error.response.data[el]){
                      this.cssStyle[el] = 'form-control';
                    } else {
                      this.cssStyle[el] = 'form-control is-invalid';
                    }
                  }
                  break;
              }
            } );
        }

      },
      speichern(){
        this.axios.post(this.url, this.reservation)
          .then(response => {
            this.notifyVue('top', 'right', 'success', 'ti-check', 'Reservation erfolgreich erfasst!');
            // setTimeout(function () {
            //   location.reload();
            // }, 1500);
            console.log(response);
          })
          .catch(error => {
            switch (error.response.status) {
              case 469:
                for(let el in error.response.data){
                  if(error.response.data[el]){
                    this.cssStyle[el] = 'form-control';
                  } else {
                    this.cssStyle[el] = 'form-control is-invalid';
                  }
                }
                break;
            }
            console.log(error.response.data)
          });
      },
      neu(){

      },
      loeschen( rid )
      {
        this.$dialog
          .confirm("Wollen Sie die Reservation wirklich löschen?", {
            okText: "Ja",
            cancelText: "Nein"
          })
          .then(dialog => {
            this.axios(
              {
                url: this.url + rid + "/",
                method: 'DELETE',
              }).then(response => {
              this.data = this.data.filter(el => el.rid !== rid);
              this.notifyVue('top', 'right', 'success', 'ti-check', 'Reservation erfolgreich gelöscht!');
            })
              .catch(error => {
                console.log(error);
              });
          })
          .catch(error => {
            console.log(error);
            console.log("Löschen abgebrochen");
          });
      }
    },
    mounted() {
      this.axios(
        {
          url: '/api/objekt/',
          method: 'GET',
          objekt: {objekt: ''}
        }).then(response => {
        this.objects = response.data;
      });
      this.axios(
        {
          url: '/api/versuch/',
          method: 'GET',
          searchVal: '',
        }).then(response => {
        this.data = response.data;
      });

      this.axios(
        {
          url: '/api/login/',
          method: 'GET',
        }).then(response => {
        this.usernames = response.data;
      });
    },
    computed: {
      checkData() {
        return this.data.length;
      }
    },
}
</script>
