<template>
    <form @submit.prevent action="#">
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-4">
                <input  type="text" :class="cssStyle.username" v-model="user.username" id="username"  />
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                <input  type="password" :class="cssStyle.password" v-model="user.password" id="password" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button class="btn" @click="login">Login</button>
            </div>
        </div>

    </form>
</template>

<script>
    import router from "../../../../probeipa/src/router";

    export default {
       data() {
            return {
                user: {username: '', password: ''},
                cssStyle:{username: 'form-control', password: 'form-control'}
       };
       },
        methods: {
           login(){
               this.axios(
                   {
                       url: '/api/login/',
                       method: "POST",
                       data:{
                           user: this.user
                       }
                   }
               ).then(response => {
                   if( response.data )
                   {
                       sessionStorage.setItem('loggedInUser', response.data);
                       for(let el in this.cssStyle){
                           this.cssStyle[el] = 'form-control';
                       }
                       router.push( {path: '/'} );
                   }

                   })
                   .catch(error => {
                       console.log(error);
                       switch (error.response.status) {
                           case 469:
                               for(let el in error.response.data){
                                   if(error.response.data[el]){
                                       this.cssStyle[el] = 'form-control';
                                   } else {
                                       console.log('else')
                                       this.cssStyle[el] = 'form-control is-invalid';
                                   }
                               }
                               break;
                       }
                   });
           }
        }
    }
</script>
