<template>
  <div>
    <form @submit.prevent action="#">
      <div v-if="checkData">
        <input type="hidden" v-model="objekt.oid" />
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Titel *</label>
        <div class="col-sm-10">
          <input type="text" :class="cssStyle.title" name="title" id="title" v-model="objekt.title" />
        </div>
      </div>
      <div class="form-group row">
        <label for="shortdescription" class="col-sm-2 col-form-label">Kurzbeschreibung *</label>
        <div class="col-sm-10">
          <textarea :class="cssStyle.description" id="shortdescription" name="shortdescription" v-model="objekt.description" />
        </div>
      </div>
      <div class="form-group row">
        <label for="categories" class="col-sm-2 col-form-label">Kategorie *</label>
        <div class="col-sm-10">
          <select id="categories" :class="cssStyle.category" v-model="objekt.cid">
            <option selected disabled>Choose one</option>
            <option v-for="element in kategorien" :key="element.kid" :value="element.kid" class="dropdown-item">{{element.kategorie}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="picture" class="col-sm-2 col-form-label">Bild (PNG, JPEG, JPG)</label>
        <div class="col-sm-10">
          <input type="file" :class="cssStyle.picture" v-on:change="onUploadPicture" ref="picture" id="picture" name="picture" />
          <input type="checkbox" v-model="editPicture" :hidden="!editObject" name="edit-picture" ref="edit-picture" id="edit-picture">
          <label for="edit-picture" :hidden="!editObject"> Möchten Sie das Bild ersetzen? (Wenn Sie den Haken nicht setzen, wird das Bild nicht gelöscht, aber auch nicht neu gesetzt.)</label>
        </div>
      </div>
<!--      <div class="form-group row">-->
<!--        <label for="responsible-person" class="col-sm-2 col-form-label">Verantwortliche Person</label>-->
<!--        <div class="col-sm-10">-->
<!--          <drop-down class="form-control" title="Verantwortliche Person" id="responsible-person" name="responsible-person">-->
<!--            &lt;!&ndash;for loop and generate all categories &ndash;&gt;-->
<!--            <a class="dropdown-item">Notification 1</a>-->
<!--            <a class="dropdown-item">Notification 2</a>-->
<!--            <a class="dropdown-item">Notification 3</a>-->
<!--            <a class="dropdown-item">Notification 4</a>-->
<!--            <a class="dropdown-item">Another notification</a>-->
<!--          </drop-down>-->
<!--        </div>-->
<!--      </div>-->
      <div class="form-group row">
        <label for="document" class="col-sm-2 col-form-label">Dokument (PDF)</label>
        <div class="col-sm-10">
          <input type="file" :class="cssStyle.document" v-on:change="onUploadDocument" ref="document" id="document" name="document" />
          <input type="checkbox" v-model="editDocument" :hidden="!editObject" name="edit-document" ref="edit-document" id="edit-document" >
          <label for="edit-document" :hidden="!editObject"> Möchten Sie das Dokument ersetzen? (Wenn Sie den Haken nicht setzen, wird das Dokument nicht gelöscht, aber auch nicht neu gesetzt.)</label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
          <button class="btn" style="margin-right: 5px" @click="neu" name="neu"> Neu </button>
          <button class="btn" @click="speichern" name="speichern"> Speichern </button>
        </div>
      </div>
      <div class="form-group row">
        <label for="searchValue" class="col-sm-2 col-form-label">Suchbegriff</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="searchValue" id="searchValue" v-model="searchValue" />
        </div>
        <div class="col-sm-2">
          <button class="btn" @click="suchen" name="suchen"> Suchen </button>
        </div>
      </div>
    </form>
    <h1>Erfasste Objekte</h1>
    <div class="card-body" v-if="checkData">
      <div class="table-full-width table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Titel</th>
                <th>Kurzbeschreibung</th>
                <th>Kategorie</th>
                <th>Bild</th>
                <th>Dokument</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr v-for="element in data">
                    <td>{{element.titel}}</td>
                    <td>{{element.beschreibung}}</td>
                    <td>{{element.kategorie_titel}}</td>
                    <td><img v-if="element.bild_titel" :src="'../../../api/upload/' + element.bild_titel" style="max-width: 350px; max-height: 350px; width: auto; height: auto;"></td>
                    <td><a class="btn" v-if="element.dokument_titel" :href="'../../../api/upload/' + element.dokument_titel" :title="'Laden Sie ' + element.dokument_titel + ' herunter'" target="_blank"><span class="ti-download"></span></a></td>
                    <td><button class="btn" title="Objekt bearbeiten" @click="bearbeiten(element)"><span class="ti-pencil-alt"></span></button></td>
                    <td><button class="btn" title="Objekt löschen" @click="loeschen(element.oid, element.bild_titel, element.dokument_titel)"><span class="ti-trash"></span></button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div v-else>
      Keine Objekte erfasst.
    </div>
  </div>
</template>
<script>
  import PaperTable from "../../components/PaperTable";
  import NotificationTemplate from '../Notifications/NotificationTemplate';
  export default{
    components: {PaperTable, NotificationTemplate},
    data(){
      return {
        url: '/api/objekt/',
        objekt:{oid: '', title: '', description: '', cid: '', picture: '', picture_title: '', document: '', document_title: '' },
        cssStyle:{title: 'form-control', description: 'form-control', category: 'form-control', picture: 'form-control', document: 'form-control'},
        data:[],
        searchValue: '',
        hasSearched: false,
        editPicture: false,
        editDocument: false,
        editObject: false,
        kategorien: [],
      };
    },
    methods: {
      notifyVue(verticalAlign, horizontalAlign, color, icon, message) {
        this.$notify({
          title: message,
          icon: icon,
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: color,
        });
      },
      onUploadPicture(event)
      {
          var files = event.target.files;
          if(!files.length)
            return;
          this.objekt.picture = files[0];
      },
      onUploadDocument(event)
      {
        var files = event.target.files;
        if(!files.length)
          return;
        this.objekt.document = files[0];
        console.log(this.objekt.document);
      },
      speichern(){
        var method = this.objekt.oid ? "PUT" : "POST";
        console.log(this.objekt.cid);
        let formData = new FormData()
        if(this.objekt.picture)
        {
          formData.append('picture', this.objekt.picture);
        }
        if(this.objekt.document)
        {
          formData.append('document', this.objekt.document);
        }
        formData.append('title', this.objekt.title);
        formData.append('shortdescription', this.objekt.description);
        formData.append('kid', this.objekt.cid);
        formData.append('oid', this.objekt.oid);
        formData.append('editObject', this.editObject);
        formData.append('editPicture', this.editPicture);
        formData.append('editDocument', this.editDocument);
        formData.append('picture_title', this.objekt.picture_title);
        formData.append('document_title', this.objekt.document_title);

        if( method === 'POST' )
        {
          //Use the "post method" method because the other notation (this.axios{}) doesn't work for FormData
          this.axios.post(this.url, formData, {headers: { 'Content-Type': 'multipart/form-data' }})
            .then(response => {
              this.notifyVue('top', 'right', 'success', 'ti-check', 'Objekt erfolgreich erfasst!');
              // setTimeout(function () {
              //   location.reload();
              // }, 1000);
            })
            .catch(error => {
              switch (error.response.status) {
                case 469:
                  for(let el in error.response.data){
                    if(error.response.data[el]){
                      this.cssStyle[el] = 'form-control';
                    } else {
                      console.log('else')
                      this.cssStyle[el] = 'form-control is-invalid';
                    }
                  }
                  break;
              }
              console.log(error.response.data)
              console.log(error);
            });
        } else if(method === 'PUT')
        {
          this.axios.put(this.url, this.objekt)
            .then(response =>
            {
                this.axios.post(this.url, formData, {headers: { 'Content-Type': 'multipart/form-data' }})
                .then(response =>
                {
                  this.notifyVue('top', 'right', 'success', 'ti-check', 'Objekt erfolgreich bearbeitet!' );
                  // setTimeout(function () {
                  //   location.reload();
                  // }, 1500);
                })
              })
            .catch(error => {
              switch (error.response.status) {
                case 469:
                  for(let el in error.response.data){
                    if(error.response.data[el]){
                      this.cssStyle[el] = 'form-control';
                    } else {
                      console.log('else')
                      this.cssStyle[el] = 'form-control is-invalid';
                    }
                  }
                  break;
              }
              console.log(error);
            });
        }
      },
      bearbeiten( element )
      {
          this.objekt.oid = element.oid;
          this.objekt.title = element.titel;
          this.objekt.description = element.beschreibung;
          this.objekt.cid = element.kid;
          this.objekt.picture_title = element.bild_titel;
          this.objekt.document_title = element.dokument_titel;
          this.editObject = true;
      },
      suchen(){
        this.searchObject();
      },
      neu() {
        this.hasSearched = false;
        this.objekt = {};
        console.log(this.editPicture)
      },
      loeschen(oid, pictureName, fileName) {
        console.log(this.objekt.oid);
        this.$dialog
          .confirm("Wollen Sie das Objekt wirklich löschen?", {
            okText: "Ja",
            cancelText: "Nein"
          })
          .then(dialog => {
            console.log(dialog);
            this.axios(
              {
                url: this.url + oid + "/",
                method: 'DELETE',
                data: {
                    pictureName: pictureName,
                    fileName: fileName
                }
              }).then(response => {
              this.data = this.data.filter(el => el.oid !== oid);
              this.notifyVue('top', 'right', 'success', 'ti-check', 'Objekt erfolgreich gelöscht!');
              console.log(response);
            })
              .catch(error => {
                console.log(error);
              });
          })
          .catch(error => {
            console.log(error);
            console.log("Löschen abgebrochen");
          });
      },
      searchObject(){
        console.log("search");
        this.axios(
          {
            url: this.url,
            method: 'GET',
            params:{
              searchValue: this.searchValue
            }
          }).then(response => {
          console.log(this.objekt);
          this.data = response.data;
        })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error);
          });
      },
    },
    computed: {
      checkData() {
        return this.data.length;
      }
    },
    mounted() {
      this.axios(
        {
          url: '/api/kategorie/',
          method: 'GET',
          kategorie: {kategorie: ''}
        }).then(response => {
        this.kategorien = response.data;
      }).catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error);
        });

      this.axios(
        {
          url: '/api/objekt/',
          method: 'GET',
          objekt: {objekt: ''}
        }).then(response => {
          this.data = response.data;
          console.log(this.data)
      });
    }
  };
</script>
