<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-icon-arrow-up></b-icon-arrow-up>
    <b-button variant="danger">Button</b-button>
  </div>
</template>
<script>
// export default{
//   data(){
//     return {
//       land:{land: '', lid: ''},
//       cssStyle:{land: 'form-control'},
//       data:[],
//       hasSearched: false
//     };
//   },
//   methods: {
    //Example Code for Calling php
    // speichern(){
    //   this.axios.post('/api/index.php',
    //       {
    //         id: 'landverwaltung',
    //         func: 'speichern',
    //         land: this.land
    //       }
    //     ).then(response => {
    //         if(response.data.status){
    //           for(let el in this.cssStyle){
    //             this.cssStyle[el] = 'form-control';
    //           }
    //           location.reload();
    //         } else {
    //           for(let el in response.data.data){
    //             if(response.data.data[el]){
    //               this.cssStyle[el] = 'form-control';
    //             } else {
    //               this.cssStyle[el] = 'form-control is-invalid';
    //             }
    //           }
    //         }
    //         console.log(response.data);
    //       })
    //       .catch(error => {
    //         console.log(error);
    //       });
    // }
  // },
  // computed: {
  //   checkData() {
  //     return this.data.length;
  //   }
  // }
// };
</script>